#overlayLightBox {
	display: none;
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=80);
}
#overlayBox {
	display: none;
	position: absolute;
	z-index: 10001;
	top: 0;
	left: 0;
	text-align: center;

	border: 1px solid #07C;
	border-radius: 10px;
	box-shadow: 5px 5px 30px #000;
}
.overlayBoxSkin {
	width: 260px;
	background: #fff;
	height: 160px;
}
.overlayBoxSkinHeader {
	background: -webkit-linear-gradient(#efefef, #afafaf);
	height: 24px;
	padding-top: 6px;
	padding-left: 6px;
	text-align: left;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 20px
}
